.calculator {
border: 1px solid rgba(0, 0, 0, 0.473);
width: 200px;
border-radius: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
}